<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th width="17%">Kategori Barang</th>
      <th width="8%">Kode</th>
      <th>Nama Barang</th>
      <th width="8%">Satuan</th>
      <th width="17%">Harga Satuan</th>
      <th width="10%">Pembayaran <br>Pre Order</th>
      <th colspan="2" width="2%">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @barangs.each do |barang| %>
      <tr>
        <td><%= link_to barang.category.name, barang %></td>
        <td align="center"><%= link_to barang.code, barang %></td>
        <td><%= link_to barang.name, barang %></td>
        <td><%= link_to barang.unit.name, barang %></td>
        <td align="right"><%= link_to "Rp. "+add_delimiter(barang.harga), barang %></td>
        <td align="right"><%= link_to add_percentage(barang.min_bayar_po), barang %></td>
        <td><%= link_to edit_barang_path(barang), class: "btn btn-default btn-xs" do %><i class="fa fa-pencil-square-o"></i> Edit<% end %></td>
        <td><%= link_to barang, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" do %><i class="fa fa-trash-o"></i> Delete<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div align="right"><%= paginate @barangs, remote: true %></div>