<section class="content-header">
  <h1><i class="fa fa-arrow-circle-left fa-fw"></i> Barang Masuk</h1>
  <ol class="breadcrumb">
    <li class="nonactive"><i class="fa fa-arrow-circle-left fa-fw"></i> Barang Masuk</li>
    <li><%= link_to barang_masuks_path do %>Daftar Barang Masuk<% end %></li>
  </ol>
</section>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Daftar Barang Masuk</h2>
        <div class="clearfix"></div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-7">
            <%= link_to new_barang_masuk_path, class: "btn btn-primary btn-sm" do %><i class="fa fa-plus-square"></i> Tambah Barang Masuk<% end %>
          </div>
        </div>
      </div>

      <div class="x_content">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>No. Transaksi</th>
              <th>Nama Barang</th>
              <th>Jumlah</th>
              <th>Tgl. Masuk</th>
              <th colspan="2" width="2%">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @barang_masuks.each do |barang_masuk| %>
              <tr>
                <td align="center"><%= link_to barang_masuk.no_transaksi, barang_masuk %></td>
                <td><%= link_to barang_masuk.barang.name, barang_masuk %></td>
                <td align="right"><%= link_to barang_masuk.jumlah, barang_masuk %></td>
                <td align="center"><%= link_to barang_masuk.tgl_masuk.strftime("%d-%m-%Y"), barang_masuk %></td>
                <td><%= link_to edit_barang_masuk_path(barang_masuk), class: "btn btn-default btn-xs" do %><i class="fa fa-pencil-square-o"></i> Edit<% end %></td>
                <td><%= link_to barang_masuk, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" do %><i class="fa fa-trash-o"></i> Delete<% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div align="right"><%= paginate @barang_masuks %></div>
    </div>
  </div>
</div>
