<div class="section group">
  <% @stocks.each do |stock| %>
    <div class="grid_1_of_4 images_1_of_4">
      <div class="kode_barang"><%= stock.barang.code %></div>
      <%= image_tag stock.barang.gambar_barang.url(:original) %>
      <div class="nama_barang"><%= stock.barang.name %></div>
      <div class="price-details">
        <div class="price-number">
          <p><span class="rupees"><%= "Rp. "+add_delimiter(stock.barang.harga) %></span></p>
        </div>
        <div class="add-cart">
          <h4>
            <%= link_to "javascript:" do%><i class="fa fa-shopping-cart"></i><%= stock.jumlah.to_s %><% end %>
          </h4>
        </div>
        <div class="clear"></div>
      </div>

      <div class="disc-details">
        <div class="disc-number">
          <% if stock.barang.promo %>
            <p><span class="rupees"><%= "Disc. "+stock.barang.promo.disc.to_s + " / " + stock.barang.promo.threshold_qty.to_s + " Barang" %></span></p>
          <% else %>
            <p><span class="rupees">Disc. -</span></p>
          <% end %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  <% end %>
</div>

<div class="x_content" style="padding-right:28px;padding-top:15px;">
  <div align="right"><%= paginate @stocks, remote: true %></div>
</div>