<section class="content-header">
  <h1><i class="fa fa-line-chart fa-fw"></i> Stok Barang</h1>
  <ol class="breadcrumb">
    <li class="nonactive"><i class="fa fa-line-chart fa-fw"></i> Stok Barang</li>
    <li><%= link_to stocks_path do %>Daftar Stok Barang<% end %></li>
  </ol>
</section>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Daftar Stok Barang</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="form-group">
          <div class="row">
            <div class="col-md-5">
              <%= form_tag stocks_path, method: "GET", remote: true do %>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon radius"><span class="glyphicon glyphicon-search"></span></span>
                  <%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Cari berdasarkan kode atau nama barang" %>
                  <span class="input-group-btn">
                    <%= submit_tag "Cari", class: "btn btn-default radius" %>
                  </span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div id="table_index">
          <%= render 'table_index' %>
        </div>
      </div>
    </div>
  </div>
</div>
