<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel preorder">

     <div class="x_content">
        <div class="table_barang">
          <%= render 'table_barang' %>
        </div>
      </div>

    </div>
  </div>
</div>

<%= form_for @barang_keluar, url: pre_orders_path(), method: "POST" do |f| %>
<div class="table_barang_keluar">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel preorder">

      <%= f.fields_for :detail_barang_keluars do |detail_barang_keluar| %>
      <div class="x_content">
        <div class="row">
          <div class="col-md-6">
            <% if can? :manage, User %>
              <div class="form-group">
                <%= f.label :tgl_keluar, "Tanggal Transaksi", class: "col-sm-4 control-label"  %>
                <div class="col-sm-8">
                  <%= f.text_field :tgl_keluar, class: "form-control input-sm field_barang_keluar" %>
                </div>
              </div>
            <% else %>
              <div class="col-sm-12 control-label timer" style="margin-top: 10px;font-weight:bold;"></div>
              <%= hidden_field_tag :tgl_keluar, "", name: "barang_keluar[tgl_keluar]", :id => "barang_keluar_tgl_keluar_user"  %>
            <% end %>
          </div>
          <div class="col-md-6">
            <div class="form-group bayar">
              <%= f.label :bayar, "Tunai (Rp.)", class: "col-sm-6 control-label"  %>
              <div class="col-sm-6">
                <%= label_tag :label_bayar, '0', class: "col-sm-12 control-label", :id=>"label_bayar" %>
              </div>
            </div>
          </div>
        </div>
        <br>

          <table class="table table-striped table-hover table-bordered barang_keluar">
          <thead>
            <tr>
              <th>Kode</th>
              <th>Nama Barang</th>
              <th width="2%">Jumlah</th>
              <th>Satuan</th>
              <th>Harga</th>
              <th>Tot. Harga</th>
              <th>Disc. (%)</th>
              <th>Total</th>
              <th>PO (%)</th>
              <th>PO</th>
              <th width="2%">Action</th>
            </tr>
            <tbody class="append_body">
            </tbody>
          </thead>
          </table>

          <div class="row">
            <div class="col-md-6" style="border-right: solid 1px #ddd;">
              <div class="form-group">
                <%= f.label :bayar, "Tunai (Rp.)", class: "col-sm-4 control-label"  %>
                <div class="col-sm-8">
                  <%= f.text_field :bayar, class: "form-control input-sm field_barang_keluar", value: 0, onKeyUp: "hitung_kembalian()" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :kembalian, "Kembalian (Rp.)", class: "col-sm-4 control-label"  %>
                <div class="col-sm-8">
                  <%= text_field_tag :field_kembalian, '', class: "form-control input-sm field_barang_keluar", value: 0, readonly: true %>
                  <%= hidden_field_tag :kembalian, '', :name=>"barang_keluar[kembalian]", :id=>"barang_keluar_kembalian" %>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :grand_total, "Grand Total (Rp.)", class: "col-sm-6 control-label grand_total_pre_order"  %>
                <div class="col-sm-6">
                  <%= label_tag :label_grand_total, '0', class: "col-sm-12 control-label grand_total_pre_order", :id=>"label_grand_total" %>
                  <%= hidden_field_tag :grand_total, '', :name=>"barang_keluar[grand_total]", :id=>"barang_keluar_grand_total" %>
                </div>
              </div>
              <div class="form-group grandtotal">
                <%= f.label :pre_order, "Pre Order (Rp.)", class: "col-sm-6 control-label"  %>
                <div class="col-sm-6">
                  <%= label_tag :label_pre_order, '0', class: "col-sm-12 control-label", :id=>"label_pre_order" %>
                  <%= hidden_field_tag :pre_order, '', :name=>"barang_keluar[pre_order]", :id=>"barang_keluar_pre_order" %>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="x_content">
          <br>
          <div class="form-group" style="border-top: solid 1px #ddd;">
            <br>
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
              <div id="button_submit_bk">
                <%#= link_to "Cancel", new_barang_keluar_path, class: "btn btn-primary btn-sm" %>
                <%#= submit_tag "Create", class: "btn btn-success btn-sm" %>
              </div>
            </div>
          </div>
          <br>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<% end %>

<script>
  $(document).ready(function(){
    $("#barang_keluar_tgl_keluar").datetimepicker();
    var start = new Date;
    setInterval(function() {
      date = new Date;
      year = date.getFullYear();
      month = date.getMonth();
      months = new Array('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember');
      d = date.getDate();
      day = date.getDay();
      h = date.getHours();
      if(h<10){
        h = "0"+h;
      }
      m = date.getMinutes();
      if(m<10){
        m = "0"+m;
      }
      s = date.getSeconds();
      if(s<10){
        s = "0"+s;
      }
      result = d+' '+months[month]+' '+year+' '+h+':'+m+':'+s;
      $(".timer").text(result);
      field_result = year+'/'+month+'/'+d+' '+h+':'+m;
      $("#barang_keluar_tgl_keluar_user").val(field_result)
      return true;
    }, 1000);
  });

  var index = 0;
  var arr_id = [];
  var row_id = [];
  function tambahBarang(id) {
    var item_detail = ""
    $.getJSON("/stocks/"+id+".json",function(json){

      if (arr_id.indexOf(id) === -1){
        arr_id.push(id)
        row_id.push(index)
        item_detail += "<tr id='row_item_"+ index +"'>"
        item_detail += "<td align='center'>"+ json.code +"</td>";
        item_detail += "<td> <input type='hidden' id='barang_id_"+ index +"' class='form-control' name='barang_keluar[detail_barang_keluars_attributes]["+ index +"][barang_id]' value="+ json.barang_id +">"+ json.name +"</td>";
        item_detail += "<td align='right'> <input onKeyUp='hitung_total("+ index +")' id='jumlah_"+ index +"' class='form-control input-sm' name='barang_keluar[detail_barang_keluars_attributes]["+ index +"][jumlah]' value=0></td>";
        item_detail += "<td align='center'>"+ json.unit +"</td>";
        item_detail += "<td align='right'><span id='harga_"+ index +"'>"+ accounting.formatMoney(json.harga, "", 2, ".", ",") +"</span></td>";
        item_detail += "<td align='right'><input type='hidden' id='field_total_harga_awal_"+ index +"' class='form-control' name='barang_keluar[detail_barang_keluars_attributes]["+ index +"][total_harga_awal]' value=0><span id='total_harga_awal_"+ index+ "'>"+ 0 +"</span></td>";
        if (json.disc == null){
          item_detail += "<td align='right'><span id='discount_"+ index +"'>-</span></td>";
        }
        else{
          item_detail += "<td align='right'><span id='discount_"+ index +"'>"+ json.disc+" / "+json.threshold_qty+" Barang</span></td>";
        }
        item_detail += "<td align='right'><input type='hidden' id='field_total_harga_"+ index +"' class='form-control' name='barang_keluar[detail_barang_keluars_attributes]["+ index +"][total_harga]' value=0><span id='total_harga_"+ index+ "'>"+ 0 +"</span></td>";
        if (json.min_bayar_po == 0){
          item_detail += "<td align='right'><span id='po_"+ index +"'>-</span></td>";
        }
        else{
          item_detail += "<td align='right'><span id='po_"+ index +"'>"+ json.min_bayar_po+"</span></td>";
        }
        item_detail += "<td align='right'><input type='hidden' id='field_bayar_po_"+ index +"' class='form-control' name='barang_keluar[detail_barang_keluars_attributes]["+ index +"][pre_order]' value=0><span id='bayar_po_"+ index+ "'>"+ 0 +"</span></td>";
        item_detail += "<td align='center'><a class='btn btn-danger btn-xs' onclick='delete_row("+ index +", "+ id +")'><i class='fa fa-times'></i></a> </td>";
        item_detail += "</tr>";

        $('.append_body').append(item_detail);
        hitung_total(index)
        index += 1
      } else {
        alert("Maaf, Barang sudah ada");
      }

    });
  }
  function delete_row(index, id){
    $("[id^='row_item_"+index+"']").remove();
    for (i=0; i<arr_id.length; i++){
      if (arr_id[i] == id){
        arr_id.splice(i, 1);
        row_id.splice(i, 1);
      }
    }
    hitung_grand_total()
    hitung_kembalian()
  }
  function hitung_total(index){
    var jumlah = parseFloat($("[id^='jumlah_"+index+"']").val());
    var harga = parseFloat(accounting.unformat($("[id^='harga_"+index+"']").text(), ","));
    var discount = $("[id^='discount_"+index+"']").text();
    var po = $("[id^='po_"+index+"']").text();
    if (discount != "-"){
      var get_times_disc = Math.floor(jumlah / parseFloat(discount.split("/")[1]));
      var harga_sebelum_disc = (get_times_disc * parseFloat(discount.split("/")[1]) * harga);
      var potongan = ((parseFloat(discount.split("/")[0]) / 100) * harga_sebelum_disc);
      var harga_setelah_disc = harga_sebelum_disc - potongan;
      var total_harga = parseFloat(harga_setelah_disc) + ((jumlah - (get_times_disc * parseFloat(discount.split("/")[1]))) * harga);
    } else {
      var total_harga = jumlah * harga;
    }
    if (po != "-"){
      var bayar_po = total_harga * po / 100;
    } else {
      var bayar_po = total_harga;
    }
    $("[id^='total_harga_awal_"+index+"']").text(accounting.formatMoney(harga * jumlah, "", 2, ".", ","));
    $("[id^='field_total_harga_awal_"+index+"']").val(harga * jumlah);
    $("[id^='total_harga_"+index+"']").text(accounting.formatMoney(total_harga, "", 2, ".", ","));
    $("[id^='field_total_harga_"+index+"']").val(total_harga);
    $("[id^='bayar_po_"+index+"']").text(accounting.formatMoney(bayar_po, "", 2, ".", ","));
    $("[id^='field_bayar_po_"+index+"']").val(bayar_po);
    hitung_grand_total()
    hitung_kembalian()
  }
  function hitung_grand_total(){
    var grand_total = 0;
    var grand_bayar_po = 0;
    for (i=0; i<row_id.length; i++){
      var tot_harga = parseFloat($("[id^='field_total_harga_"+row_id[i]+"']").val());
      var bayar_po  = parseFloat($("[id^='field_bayar_po_"+row_id[i]+"']").val());
      grand_total = tot_harga + grand_total;
      grand_bayar_po = bayar_po + grand_bayar_po;
    }
    $("#barang_keluar_grand_total").val(grand_total);
    $("#label_grand_total").text(accounting.formatMoney(grand_total, "", 2, ".", ","));
    $("#barang_keluar_pre_order").val(grand_bayar_po);
    $("#label_pre_order").text(accounting.formatMoney(grand_bayar_po, "", 2, ".", ","));
  }
  function hitung_kembalian(){
    var bayar_po = parseFloat($("#barang_keluar_pre_order").val());
    var bayar = $("#barang_keluar_bayar").val();
    var kembalian = bayar - bayar_po;
    $("#barang_keluar_kembalian").val(kembalian);
    $("#field_kembalian").val(accounting.formatMoney(kembalian, "", 2, ".", ","));
    $("#label_bayar").text(accounting.formatMoney(bayar, "", 2, ".", ","));
    // appendButton()
    var tableSize = $('.barang_keluar tbody tr').length;
    if (tableSize > 0 && kembalian > 0 && bayar_po != 0){
      if ($('#button_submit_bk input').length == 0) {
        var button = ""
        button += "<a class='btn btn-primary btn-sm cancel_bk' href='/barang_keluars/new'>Cancel</a>"
        button += "<input type='submit' name='commit' value='Create' class='btn btn-success btn-sm submit_bk'>"
        $('#button_submit_bk').append(button);
      }
    } else {
      $(".cancel_bk").remove();
      $(".submit_bk").remove();
    }
  }
</script>