<section class="content-header">
  <h1><i class="fa fa-user fa-fw"></i> Kasir</h1>
  <ol class="breadcrumb">
    <li class="nonactive"><i class="fa fa-user fa-fw"></i> Kasir</li>
    <li><%= link_to pre_orders_path do %>Daftar Pre Order Barang<% end %></li>
    <li class="avtive">Detail Pre Order Barang</li>
  </ol>
</section>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Detail Pre Order Barang</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="form-group">

          <div class="x_content">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= label_tag :tgl_keluar, "Tanggal Keluar", class: "col-sm-4 control-label" %>
                  <div class="col-sm-8">
                    <%= label_tag :label_tgl_keluar, @barang_keluar.created_at.strftime("%d-%m-%Y %H:%M"), class: "col-sm-8 control-label" %>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="col-sm-12">
                    <%= label_tag :label_bayar, "No. Transaksi: #{add_delimiter(@barang_keluar.no_transaksi)}", class: "control-label pull_right" %>
                  </div>
              </div>
            </div>

            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  <th width="10%">Kode</th>
                  <th>Nama Barang</th>
                  <th width="2%">Jumlah</th>
                  <th width="10%">Harga</th>
                  <th width="10%">Tot. Harga</th>
                  <th width="10%">Discount</th>
                  <th width="10%">Total</th>
                  <th width="10%">PO (%)</th>
                  <th width="10%">PO</th>
                </tr>
                <tbody>
                  <% @barang_keluar.detail_barang_keluars.each do |detail_barang_keluar| %>
                    <tr>
                      <td align="center"><%= detail_barang_keluar.barang_keluar_barang.code %></td>
                      <td><%= detail_barang_keluar.barang_keluar_barang.name %></td>
                      <td align="right"><%= detail_barang_keluar.jumlah.to_s + " " + detail_barang_keluar.barang_keluar_barang.unit.name %></td>
                      <td align="right"><%= "Rp. "+add_delimiter(detail_barang_keluar.barang_keluar_barang.harga) %></td>
                      <td align="right"><%= "Rp. "+add_delimiter(detail_barang_keluar.total_harga_awal) %></td>
                      <td align="right"><%= "Rp. "+add_delimiter(detail_barang_keluar.total_harga_awal - detail_barang_keluar.total_harga) %></td>
                      <td align="right"><%= "Rp. "+add_delimiter(detail_barang_keluar.total_harga) %></td>
                      <td align="right"><%= add_percentage(detail_barang_keluar.barang_keluar_barang.min_bayar_po) %></td>
                      <td align="right" class="preorder"><%= "Rp. "+add_delimiter(detail_barang_keluar.pre_order) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </thead>
            </table>

            <div class="row">
              <div class="col-md-5">
                <div class="form-group report">
                  <div class="row row_content">
                    <div class="title_row report">Total Harga</div>
                    <div class="data_row report"><div class="pull_right"><%= "Rp. #{add_delimiter(@barang_keluar.detail_barang_keluars.sum('total_harga_awal'))}" %></div></div>
                  </div>
                  <div class="row row_content">
                    <div class="title_row report">Discount</div>
                    <div class="data_row report"><div class="pull_right"><%= "Rp. #{add_delimiter(@barang_keluar.detail_barang_keluars.sum('total_harga_awal')-@barang_keluar.detail_barang_keluars.sum('total_harga'))}" %></div></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-6" style="border-top: 1px solid #ddd;padding-top: 5px;">
                    <%= label_tag :grand_total, "GRAND TOTAL", class: "control-label grand_total_pre_order"  %>
                  </div>
                  <div class="col-sm-6" style="border-top: 1px solid #ddd;padding-top: 5px;">
                    <%= label_tag :label_grand_total, "Rp. #{add_delimiter(@barang_keluar.grand_total)}", class: "control-label pull_right grand_total_pre_order" %>
                  </div>
                </div>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-5">
                <!-- <%#= link_to barang_keluar_path(1), class: "btn btn-default btn-xs", :onclick => 'window.print();return false;' do %><i class="fa fa-reply-all"></i> Ke transaksi baru<%# end %> -->
                <div class="form-group">
                  <div class="col-sm-6 preorder">
                    <%= label_tag :grand_total, "PRE ORDER", class: "control-label grandtotal_show"  %>
                  </div>
                  <div class="col-sm-6 preorder">
                    <%= label_tag :label_grand_total, "Rp. #{add_delimiter(@barang_keluar.pre_order)}", class: "control-label pull_right grandtotal_show" %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-6">
                    <%= label_tag :grand_total, "Sisa Order", class: "control-label"  %>
                  </div>
                  <div class="col-sm-6">
                    <%= label_tag :label_grand_total, "Rp. #{add_delimiter(@barang_keluar.grand_total - @barang_keluar.pre_order)}", class: "control-label pull_right" %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-6">
                    <%= label_tag :grand_total, "Bayar Tunai", class: "control-label"  %>
                  </div>
                  <div class="col-sm-6">
                    <%= label_tag :label_grand_total, "Rp. #{add_delimiter(@barang_keluar.bayar)}", class: "control-label pull_right" %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-6">
                    <%= label_tag :grand_total, "Kembalian", class: "control-label"  %>
                  </div>
                  <div class="col-sm-6">
                    <%= label_tag :label_grand_total, "Rp. #{add_delimiter(@barang_keluar.kembalian)}", class: "control-label pull_right" %>
                  </div>
                </div>
                <%= link_to barang_keluar_path(1), class: "btn btn-success btn-lg cetak pull_right" do %><i class="fa fa-print"></i> Cetak<% end %>
              </div>
            </div>
            <div class="ln_solid"></div>

          </div>
        </div>
        <%= link_to pre_orders_path do %><i class="fa fa-reply-all"></i> Kembali ke preorder<% end %>
      </div>
    </div>
  </div>
</div>

