<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Promo</th>
      <th>Nama Barang</th>
      <th>Discount (%)</th>
      <th>Per Barang</th>
      <th colspan="2" width="2%">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @promos.each do |promo| %>
      <tr>
        <td><%= link_to promo.name, promo %></td>
        <td><%= link_to promo.barang.name, promo %></td>
        <td align="right"><%= link_to promo.disc, promo %></td>
        <td align="right"><%= link_to promo.threshold_qty, promo %></td>
        <td><%= link_to edit_promo_path(promo), class: "btn btn-default btn-xs" do %><i class="fa fa-pencil-square-o"></i> Edit<% end %></td>
        <td><%= link_to promo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" do %><i class="fa fa-trash-o"></i> Delete<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div align="right"><%= paginate @promos, remote: true %></div>