<% if @barang_keluars.present? %>
  <div class='form-group' style="float: left;">
    <%= link_to transaksi_rumah_asi_bjn_path(format: "xls", start_date: params[:start_date], end_date: params[:end_date], no_transaksi: params[:no_transaksi]), class: "btn btn-success btn-sm pull-right" do %><i class="fa fa-download"></i> Excel<% end %>
  </div>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
      </tr>
      <tr>
        <th width="15%">Tgl. Keluar</th>
        <th width="15%">No. Transaksi</th>
        <th width="10%">Type</th>
        <th>Total Harga</th>
        <th>Discount</th>
        <th width="30%">Grand Total</th>
      </tr>
    </thead>
    <tbody>
      <% @barang_keluars.each do |barang_keluar| %>
        <tr>
          <td align="center"><%= link_to barang_keluar.tgl_keluar.strftime("%d-%m-%Y %H:%M"), report_path(barang_keluar) %></td>
          <td align="center"><%= link_to barang_keluar.no_transaksi, report_path(barang_keluar) %></td>
          <td align="center"><%= link_to barang_keluar.payment_type == "A1" ? "Tunai" : "Pre Order", report_path(barang_keluar) %></td>
          <td align="right"><%= link_to "Rp. "+add_delimiter(barang_keluar.detail_barang_keluars.sum("total_harga_awal")), report_path(barang_keluar) %></td>
          <td align="right"><%= link_to "Rp. "+add_delimiter(barang_keluar.detail_barang_keluars.sum("total_harga_awal") - barang_keluar.grand_total), report_path(barang_keluar) %></td>
          <td align="right"><%= link_to "Rp. "+add_delimiter(barang_keluar.grand_total), report_path(barang_keluar) %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="5" style="text-align:right;">GRAND TOTAL</th>
        <th colspan="1" style="text-align:right;"><%= "Rp. "+add_delimiter(@barang_keluars.sum("grand_total")).to_s %></th>
      </tr>
    </tfoot>
  </table>
  <div align="right"><%= paginate @barang_keluars, remote: true %></div>
<% end %>
