<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th rowspan="2" style="vertical-align: middle;">Tgl. Keluar</th>
      <th rowspan="2" style="vertical-align: middle;">No. Transaksi</th>
      <th colspan="5">Rp.</th>
    </tr>
    <tr>
      <th>Total Harga</th>
      <th>Potongan</th>
      <th>Grand Total</th>
      <th>Bayar</th>
      <th>Kembalian</th>
    </tr>
  </thead>
  <tbody>
    <% @barang_keluars.each do |barang_keluar| %>
      <tr>
        <td align="center"><%= link_to barang_keluar.tgl_keluar, report_path(barang_keluar) %></td>
        <td align="center"><%= link_to barang_keluar.no_transaksi, report_path(barang_keluar) %></td>
        <td align="right"><%= link_to "-", report_path(barang_keluar) %></td>
        <td align="right"><%= link_to "-", report_path(barang_keluar) %></td>
        <td align="right"><%= link_to add_delimiter(barang_keluar.grand_total), report_path(barang_keluar) %></td>
        <td align="right"><%= link_to add_delimiter(barang_keluar.bayar), report_path(barang_keluar) %></td>
        <td align="right"><%= link_to add_delimiter(barang_keluar.kembalian), report_path(barang_keluar) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div align="right"><%= paginate @barang_keluars, remote: true %></div>