<%= render 'datepicker_js' %>
<section class="content-header">
  <h1><i class="fa fa-file-archive-o fa-fw"></i> Report</h1>
  <ol class="breadcrumb">
    <li class="nonactive"><i class="fa fa-file-archive-o fa-fw"></i> Report</li>
    <li><%= link_to reports_path do %>Report Barang Keluar<% end %></li>
  </ol>
</section>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Report Barang Keluar</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <%= form_tag reports_path, method: "GET" do %>
          <div class="form-group row">
            <div class="col-md-2">
              <%= label_tag :start_date, "Start Date", class: "control-label" %>
              <%= text_field_tag :start_date, params[:start_date] ? params[:start_date] : DateTime.now.to_date.strftime("%Y/%m/%d"), class: "form-control input-sm" %>
            </div>
            <div class="col-md-2">
              <%= label_tag :end_date, "End Date", class: "control-label" %>
              <%= text_field_tag :end_date, params[:end_date] ? params[:end_date] : DateTime.now.to_date.strftime("%Y/%m/%d"), class: "form-control input-sm" %>
            </div>
            <div class="col-md-4">
              <%= label_tag :keyword, "No. Transaksi", class: "control-label" %>
              <%= text_field_tag :no_transaksi, params[:no_transaksi], id:"search_name", class: "form-control input-sm", placeholder: "Cari berdasarkan no. transaksi" %>
            </div>
            <div class="col-md-2">
              <div class="input-group input-group-sm">
                <%= submit_tag "Search", class: "btn btn-success btn-sm", style: "margin-top:25px;" %>
              </div>
            </div>
          </div>
        <% end %>
        <div id="table_index">
          <%= render 'table_index' %>
        </div>
      </div>
    </div>
  </div>
</div>
