<section class="content-header">
  <h1><i class="fa fa-file-archive-o fa-fw"></i> Report</h1>
  <ol class="breadcrumb">
    <li class="nonactive"><i class="fa fa-file-archive-o fa-fw"></i> Report</li>
    <li><%= link_to reports_path do %>Report Barang Keluar<% end %></li>
    <li class="avtive">Detail Report Barang Keluar</li>
  </ol>
</section>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Detail Report Barang Keluar</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="form-group">

          <div class="x_content">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= label_tag :tgl_keluar, "Tanggal Keluar", class: "col-sm-4 control-label" %>
                  <div class="col-sm-8">
                    <%= label_tag :label_tgl_keluar, @barang_keluar.tgl_keluar, class: "col-sm-8 control-label" %>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="col-sm-12">
                    <%= label_tag :label_bayar, "No. Transaksi: #{add_delimiter(@barang_keluar.no_transaksi)}", class: "control-label pull_right" %>
                  </div>
              </div>
            </div>

            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  <th width="10%">Kode</th>
                  <th>Nama Barang</th>
                  <th width="10%">Jumlah</th>
                  <th width="5%">Satuan</th>
                  <th width="15%">Harga</th>
                  <th width="15%">Tot. Harga</th>
                  <th width="15%">Discount</th>
                  <th width="15%">Total</th>
                </tr>
                <tbody>
                  <% @barang_keluar.detail_barang_keluars.each do |detail_barang_keluar| %>
                    <tr>
                      <td align="center"><%= detail_barang_keluar.barang_keluar_barang.code %></td>
                      <td><%= detail_barang_keluar.barang_keluar_barang.name %></td>
                      <td align="right"><%= detail_barang_keluar.jumlah %></td>
                      <td align="center"><%= detail_barang_keluar.barang_keluar_barang.unit.name %></td>
                      <td align="right"><%= "Rp. "+add_delimiter(detail_barang_keluar.barang_keluar_barang.harga) %></td>
                      <td align="right"><%= "Rp. "+add_delimiter(detail_barang_keluar.total_harga_awal) %></td>
                      <td align="right"><%= "Rp. "+add_delimiter(detail_barang_keluar.total_harga_awal - detail_barang_keluar.total_harga) %></td>
                      <td align="right"><%= "Rp. "+add_delimiter(detail_barang_keluar.total_harga) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </thead>
            </table>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= label_tag :bayar, "Tunai", class: "col-sm-5 control-label"  %>
                  <div class="col-sm-7">
                    <%= label_tag :label_bayar, "Rp. #{add_delimiter(@barang_keluar.bayar)}", class: "control-label pull_right" %>
                  </div>
                </div>
                <div class="form-group">
                  <%= label_tag :kembalian, "Kembalian", class: "col-sm-5 control-label"  %>
                  <div class="col-sm-7">
                    <%= label_tag :label_kembalian, "Rp. #{add_delimiter(@barang_keluar.kembalian)}", class: "control-label pull_right" %>
                  </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">
                      <%= label_tag :grand_total, "GRAND TOTAL", class: "control-label grandtotal_show"  %>
                    </div>
                    <div class="col-sm-7">
                      <%= label_tag :label_grand_total, "Rp. #{add_delimiter(@barang_keluar.grand_total)}", class: "control-label pull_right grandtotal_show" %>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- <%#= link_to barang_keluar_path(1), class: "btn btn-default btn-xs", :onclick => 'window.print();return false;' do %><i class="fa fa-reply-all"></i> Ke transaksi baru<%# end %> -->
                <center><%= link_to barang_keluar_path(1), class: "btn btn-success btn-lg cetak" do %><i class="fa fa-print"></i> Cetak<% end %></center>
              </div>
            </div>
            <div class="ln_solid"></div>

          </div>
        </div>
        <%= link_to reports_path do %><i class="fa fa-reply-all"></i> Ke report barang keluar<% end %>
      </div>
    </div>
  </div>
</div>

