<table border="1">
  <thead>
    <tr>
      <th width="120" style="background-color: yellow;"><strong>Tanggal</strong></th>
      <th width="120" style="background-color: yellow;"><strong>No. Transaksi</strong></th>
      <th width="80" style="background-color: yellow;"><strong>Type</strong></th>
      <th width="80" style="background-color: yellow;"><strong>Kode</strong></th>
      <th style="background-color: yellow;" width="300"><strong>Nama Barang</strong></th>
      <th width="80" style="background-color: yellow;"><strong>Jumlah</strong></th>
      <th width="150" style="background-color: yellow;"><strong>Harga</strong></th>
      <th width="150" style="background-color: yellow;"><strong>Tot. Harga</strong></th>
      <th width="150" style="background-color: yellow;"><strong>Discount</strong></th>
      <th width="150" style="background-color: yellow;"><strong>Total</strong></th>
    </tr>
    <tbody>
      <% @barang_keluars.each do |barang_keluar| %>
        <% barang_keluar.detail_barang_keluars.each do |detail_barang_keluar| %>
          <tr>
            <td align="center"><%= barang_keluar.tgl_keluar.strftime("%d-%m-%Y %H:%M") %></td>
            <td align="center"><%= barang_keluar.no_transaksi %></td>
            <td align="center"><%= barang_keluar.payment_type == "A1" ? "Tunai" : "Pre Order" %></td>
            <td align="center"><%= detail_barang_keluar.barang_keluar_barang.code %></td>
            <td><%= detail_barang_keluar.barang_keluar_barang.name %></td>
            <td align="right"><%= detail_barang_keluar.jumlah.to_s + " " + detail_barang_keluar.barang_keluar_barang.unit.name %></td>
            <td align="right"><%= "Rp. "+add_delimiter(detail_barang_keluar.barang_keluar_barang.harga) %></td>
            <td align="right"><%= "Rp. "+add_delimiter(detail_barang_keluar.total_harga_awal) %></td>
            <td align="right"><%= "Rp. "+add_delimiter(detail_barang_keluar.total_harga_awal - detail_barang_keluar.total_harga) %></td>
            <td align="right" class="tunai"><%= "Rp. "+add_delimiter(detail_barang_keluar.total_harga) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </thead>
</table>