<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand brand-btn" id="menu-side" onclick="sidebar_pop()">
        <span class="glyphicon glyphicon-king"></span>
      </a>
    <a class="navbar-brand" href=<%= main_app.root_path %>><b>Rumah ASI</b></a>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
    <li class="username"><i class="fa fa-user"></i> <%= current_user.username %></li>
    <li>
      <%= link_to destroy_user_session_path, :method=>'delete', title: "Sign out", class: "text_logout" do%>
      <i class="fa fa-sign-out"></i> Log out
      <% end %>
    </li>
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li>
          <%= link_to stocks_path do %><i class="fa fa-line-chart fa-fw"></i> Stok Barang<% end %>
        </li>
        <li>
          <a href="#"><i class="fa fa-building fa-fw"></i> Master<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to users_path do %>Hak Akses<% end %>
            </li>
            <li>
              <%= link_to units_path do %>Satuan<% end %>
            </li>
            <li>
              <%= link_to categories_path do %>Kategori Barang<% end %>
            </li>
            <li>
              <%= link_to barangs_path do %> Daftar Barang<% end %>
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
        <li>
          <%= link_to promos_path do %><i class="fa fa-gift fa-fw"></i> Promo Barang<% end %>
        </li>
        <li>
          <%= link_to barang_masuks_path do %><i class="fa fa-arrow-circle-left fa-fw"></i> Barang Masuk<% end %>
        </li>
        <li>
          <%= link_to new_barang_keluar_path do %><i class="fa fa-user fa-fw"></i> Kasir<% end %>
        </li>
        <li>
          <a href="#"><i class="fa fa-file-archive-o fa-fw"></i> Report<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to reports_path do %>Barang Keluar<% end %>
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>