<!DOCTYPE html>
<html>
<head>
  <title>Warehousing</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if user_signed_in? %>
    <div id="wrapper">
      <%= render 'layouts/menu' %>
      <%= yield %>
    </div>
    <!-- /#wrapper -->
  <% else %>
    <%= yield %>
  <% end %>

</body>
</html>