<!DOCTYPE html>
<html>
<head>
  <title>Rumah ASI Bojonegoro</title>
  <%= favicon_link_tag 'warehouse-icon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if user_signed_in? %>
    <div id="wrapper">
      <%= render 'layouts/menu' %>
      <div id="page-wrapper">
        <p <% if notice %> class="alert alert-success" <% end %> ><%= notice %></p>
        <p <% if alert %> class="alert alert-danger" <% end %> ><%= alert %></p>
        <%= yield %>
      </div>
    </div>
    <!-- /#wrapper -->
  <% else %>
    <%= yield %>
  <% end %>

</body>
</html>